#algo-container {
  display: flex;
  position: absolute;
  margin-left: 20vw;
  height: 50vh;
  width: 60vw;
  background-color: lightblue;
  flex-direction: row;
}

.divBar {
  margin-left: 1px;
  background-color: black;
}

.Display-4 {
  text-align: center;
  color: rgba(0, 4, 253, 0.774);
}